.main{
  display: flex;
  flex-direction: column;
}

.color-changer-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;
}
button{
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
}
button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@keyframes changeColor {
  0% {
    background-color: black;
  }
  25% {
    background-color: aqua;
  }
  50% {
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: rgb(55, 0, 255);
  }
}
#Spinner{
  background-color: black;
  height: 50px;
  width: 200px;
  cursor: pointer;
}
.color-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}